<h1>Welcome!</h1>
<br />

<h4>Add a store:</h4>

<form action="/stores" method="post">
  <input id="store_name" name="store_name" type="text">
  <button type="submit">Add Store</button>
</form>
<br />

<h5>List of stores:</h5>

<% if @stores.any?() %>
  <ul>
    <% @stores.each() do |store| %>
      <li>
        <a href="/stores/<%=store.id()%>"><%= store.store_name %></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no current stores.</p>
<% end %>

<br />
<br />

<h4>Add shoes:</h4>

<form action="/brands" method="post">
  <input id="brand_name" name="brand_name" type="text">
  <label for="price">Price:</label>
  <input id="price" name="price" type="text">
  <button type="submit">Add Shoes</button>
</form>
<br />

<h5>List of shoes:</h5>

<% if @brands.any?() %>
  <ul>
    <% @brands.each() do |brand| %>
      <li>
          <%= brand.brand_name%> <%= brand.price%>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no current shoes.</p>
<% end %>
