<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href='<%= url("/styles.css")%>' type="text/css">
    <title>/Shoes-Stores Tracker</title>
  </head>
  <body>
    <div class="banner">
      <h2>Shoes-Stores Tracker</h2>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer"><a href="http://www.safiycham.com/" target="_blank">Safiy&nbsp;Cham&nbsp;&#169;&nbsp;2018</a></div>
  </body>
</html>
