
<h1>Store: <%= @store.store_name %></h1>

<form style="display: inline" action="/stores/<%= @store.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input class="input_fields" placeholder="rename" id="store_name" name="store_name" type="text">
  <button class="btn btn-primary" type="submit">Update Store</button>
</form>

<div class="home"><a href="/">Home</a></div>
