<h1><%= @store.store_name %></h1>
<a href = "/stores/<%=@store.id%>/edit">Edit Name</a>
<br />
<br />

<h4>Add shoes:</h4>

<form action="/stores/<%=@store.id%>" method="post">
  <input id="store_id" name="store_id" type="hidden" value="<%= @store.id %>">
  <input id="store_name" name="store_name" type="text">
  <button type="submit">Add Shoes</button>
</form>
<br />

<h4>Current shoes in this store:</h4>

<% if @store.brands().any?() %>
  <ul>
    <% @store.brands().each() do |brand| %>
      <li>brand.brand_name</li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no shoes in this store!</p>
<% end %>

<a href="/">Home</a>
